@font-face {
    font-family: 'Josefin Sans';
    src: url(/static/fonts/JosefinSans-Regular.ttf);
}
@font-face {
    font-family: 'Josefin Sans Light';
    src: url(/static/fonts/JosefinSans-Light.ttf);
}

body {
    font-family: 'Josefin Sans', sans-serif !important
}

input {
    background: #EEE !important;
    background-color:rgba(0, 0, 0, 0.0) !important;
    outline: 0 !important;
    border-width: 0 0 3px 0 !important;
    border-radius : 0%;
    border-color: #444 !important;
}
input:focus {
    border-color: #999 !important;
}

.header {
}


.questions {
    margin : 10px 10px 10px 10px;
}

.question {
}

.question a:link,
.question a:visited {
    color: black;
}

.q-desc {
    font-size: 18px;
    font-family: monospace;
}

.table-link:link,
.table-link:visited {
    font-weight: bold;
    padding: 10px 10px 10px 10px;
}


.table-link:hover {
    background : #222;
    color : #FFF;
    text-decoration: none;
}