{% extends 'layout.html' %}

{% block title %}
MehCTF | Login
{% endblock %}

{% block body %}
<div class = "row" style = "margin-top:1em">
    <div class = "col-xs-12 col-sm-12 col-md-3 offset-md-4 col-lg-3 offset-lg-4 text-responsive">
        <div class = 'login-container'>   
            <form action = '/login' method = "POST" class = "login-form">
                {{ form.hidden_tag()}}
                <div class = "form-group">
                    <input class = "form-control" name = "username" size = "50" placeholder = "Username" type = "text" />
                </div>
                <div class = "form-group">
                    <input class = "form-control" name = "password" size = "50" placeholder = "Password" type = "password" />
                </div>
                <div class = "form-group">
                    <div class="g-recaptcha" data-sitekey="6LcItjUUAAAAAIJnAqsuH3FOJm6mI5Y--ei7JXgl"></div>
                </div>
                <div class = "form-group">
                    <center>
                        <button type = "submit" class = 'btn bg-secondary text-center'>Login</button>
                    </center> 
                </div>
            </form>
            {% if message %}
                <center>{{ message }}</center>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}