{% extends "layout.html" %}

{% block title %}
MehCTF | {{Question.name}}
{% endblock %}

{% block body %}

<div class = "jumbotron">
    
    <div class = "row">
        <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <h1>{{ Question.name }}</h1>
            <h2>{{ Question.category }} | {{ Question.points }} Points</h2>
            
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#solvedByModal">
                Solved By: {{ Question.solved_by }}
            </button>
            
            <div class="modal fade" id="solvedByModal" tabindex="-1" role="dialog" aria-labelledby="solvedByModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="solvedByModalLabel">Solved By</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="table">
                                    <thead>
                                        <tr>
                                        <th>Username</th>
                                        <th>Solved On</th>
                                        </tr>
                                    </thead>
                                    <tbody class = "scoreboard-row" style='font-size:1.5em;font-family:Josefin Sans Light'>
                                    {% for solver in solvedByList %}
                                        <tr>
                                        <td><a class="table-link" href='/user/{{ solver.username }}'>{{ solver.username }}</a></td>
                                        <td>{{ solver.solved_on }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>  
    
    <br />
    <div class = "row">
        <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12 form-inline">
            <label for="flag">Flag</label>
            &nbsp
            <input type="text" id = "flag" name="flag" class = "form-control" placeholder = "Enter flag" />
            &nbsp
            <button class = "btn btn-secondary" onClick="checkFlag()">Check Flag</button>
            &nbsp
            <span id="validityText"></span>   
        </div>
    </div>
    <br />
    <div class = "row">
        <div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6 text-responsive">
            <h3>Description</h3>
            <p>
                {{ Question.desc|safe }}
            </p>
            {% if not Question.filename == "#" %}
                {% if toDownload %}
                <a href = '/download/{{ Question.id }}'><button class = "btn btn-link">Download</button></a>
                {% else %}
                <a href = '{{ Question.filename}}'><button class = "btn btn-link">Website</button></a>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}