{% extends "layout.html" %}

{% block title %}
MehCTF | {{Question.name}}
{% endblock %}

{% block body %}

<div class = "jumbotron">
    
    <div class = "row">
        <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6 text-center"></div>
            <h1>{{ Question.name }}</h1>
    </div>
    <br />
    <div class = "row">
        <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12 form-inline">
            <label for="flag">Flag</label>
            &nbsp
            <input type="text" id = "flag" name="flag" class = "form-control" placeholder = "Enter flag" />
            &nbsp
            <button class = "btn btn-secondary" onClick="checkFlag()">Check Flag</button>
            &nbsp
            <span id="validityText"></span>   
        </div>
    </div>
    <br />
    <div class = "row">
        <div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6 text-responsive">
            <h3>Description</h3>
            <p>
                {{ Question.desc }}
            </p>
            {% if not Question.link == "#" %}
                <a href = '/download/{{ Question.id }}'><button class = "btn btn-link">Download</button></a>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}