{% extends "layout.html" %}

{% block title %}
MehCTF | Questions
{% endblock %}

{% block body %}
<div class = "row">
  <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
    <h3>Flag Format: infox(.....) or DCTF(......) or infoXpression(.....)</h3>
  </div>
</div>

<div class = "questions">
  <div class="row">
  {% for Question in Questions %}
  {% if Question.is_hidden == false %}
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 question">
    <div class = "card" style = "width: 20rem; margin: 5px 5px 5px 5px">
      <div class = "card-block">
        <h4 class="card-title">{{ Question.name }}{% if Question.id in questionsSolvedIDs %} | Solved{% endif %}</h4>
        <p clas = "card-text">{{ Question.category }} | {{ Question.points }} Points</p>
        <p clas = "card-text">{{ Question.desc | truncate(30) }}</p>
        <a class = "card-link" href="/question/{{Question.id}}"><button class="btn btn-link">View Question</button></a>
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>

{% endblock %}
