{% extends "layout.html" %}

{% block title %}
MehCTF | Scoreboard
{% endblock %}

{% block body %}
<!-- <div class = 'refresh text-responsive form-control'>
  <input type = 'checkbox' name='auto-refresh' id='auto-refresh-checkbox' onclick='toggleAutoRefresh(this)'>Auto Refresh
</div>
<script>

</script> -->
<div class='scoreboard'>
  <table class="table table-striped">
    <thead class='thead-inverse'>
      <tr>
        <th scope='col'>Rank</th>
        <th scope='col'>Username</th>
        <th scope='col'>Score</th>
      </tr>
    </thead>
    <tbody class = "scoreboard-rows" style='font-size:1.5em;font-family:Josefin Sans Light'>
    {% for index, (userid, info) in scores %}
      <tr class='scoreboard-row'>
      <th scope='row'>{{ index+1 }}</th>
      <td><a class="table-link" href='/user/{{ info['username'] }}' >{{ info['username'] | truncate(15) }}</a></td>
      <td>{{ info['score'] }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}